div{margin: 0px;}
#box{
	position:fixed;
	right:0px;
	z-index:999;
	bottom:0px;
}
@media (min-width: 901px){#login-box{display:block;}}
@media (min-width: 1620px){#login-box{right:0px;}}

.wechat-btn{
	width:30px;
	height:30px;
	line-height:30px;
	background-color:#49b1f5;
}
.wechat-btn:hover{
	background-color:#ff7242;
}

#wechat-box{
	padding-bottom: 5px;
	width:200px;
	font-size:1em;
	text-align:center;
	margin-bottom: -30px;
	margin-left: -205px;
	line-height:25px;
	background-color:#FFF;
	border-radius:5px;
	box-shadow:0px 3px 5px rgba(0,0,0,0.2);
}