<!-- html {-webkit-filter: grayscale(100%);filter:progid:DXImageTransform.Microsoft.BasicImage(graysale=1);}   可以是整个网站变成灰色的     -->
div{margin: 0px;}
#box{
	position:fixed;
	right:0px;
	z-index:9;
	bottom:0px;
}
@media (min-width: 901px){#login-box{display:block;}}
@media (min-width: 1620px){#login-box{right:0px;}}

#wechat-btn-img{
	width:30px;
	height:30px;
	line-height:30px;
	background-color:#49b1f5;
}


#wechat-box{
	position:relative;
	width:200px;
	height:270px;
	font-size:1em;
	text-align:center;
	margin-bottom: -30px;
	margin-left: -205px;
	line-height:25px;
	border-radius:5px;
	box-shadow:0px 3px 5px rgba(0,0,0,0.2);
}
#wechat-box>p{
	color:#666 !important;
}
